.chart_box_300{
    height: 300px;
    }
.chart_box_400{
    height: 450px;
    }
.chart_box_500{
    height: 500px;
    }
.chart_box_600{
    height: 600px;
    }

.chart_box_div {
  transition: all 0.5s ease;
}
